{
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": true,
    "semi": false,
    "singleQuote": true,
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@/components/(.*)$",
        "^@/ui/(.*)$",
        "^@/screens/(.*)$",

        "^@/services/(.*)$",
        "^@/store/(.*)$",
        "^@/hooks/(.*)$",
        "^@/utils/(.*)$",
        "^@/assets/(.*)$",
        "^@/config/(.*)$",
        "^@/shared/(.*)$",
        
        "^../(.*)",
        "^./(.*)",
        "(.scss)$"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true 
}